// _mixins.scss

@mixin background-size($size) {
  -webkit-background-size: $size;
     -moz-background-size: $size;
      -ms-background-size: $size;
          background-size: $size;
}

@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
          transform: $transform;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
          transition: $transition;
}
